{% extends "layout.html" %}
{% block content %}
<h2>Register</h2>
<form method="post">
  <label>Full Name<br><input name="full_name"></label><br>
  <label>Username<br><input name="username"></label><br>
  <label>Password<br><input name="password" type="password"></label><br>
  <label>Role<br>
    <select name="role">
      <option value="student" selected>Student</option>
      <option value="faculty">Faculty</option>
      <option value="hod">HOD</option>
    </select>
  </label><br>
  <button type="submit">Register</button>
</form>
{% endblock %}
